body{
    background-color: black;
}

*{
    color : white;
    list-style: none;
}

*.red{
    color: red;
}

div.right img.search {
    width: 5%;
    height: 5%;
    margin: 0%;
}

div.header {
    display: inline-block;
}

.center h1 {
    text-align: center;
}

.right a {
    float: right;
}