body{
    background-color: black;
}

*{
    color : white;
    list-style: none;
}

*.red{
    color: red;
}

nav ul li a.search img.search {
    width: 5%;
    position: absolute;
    padding-left: 90%;
    top: 0%
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

h1.center {
    text-align: center;
}