body{
    background-color: black;
}

*{
    color : white;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

*.red{
    color: red;
}

nav ul li a.search img.search {
    width: 4%;
    position: absolute;
    float: right;
    left: 94%;
    top: 1%;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

*.center {
    text-align: center;
}

#mySearch {
    width: 97%;
    font-size: 25px;
    padding: 12px;
    border: 1px solid #ddd;
}

#myMenu li{
    list-style-type: none;
    text-decoration: none;
    padding: 1%;
}

#myMenu li a{
    list-style-type: none;
    text-decoration: none;
    padding: 1%;
}

#myMenu li:hover {
    list-style: none;
    text-decoration: underline;
    background-color: #686868;
}

*.btn {
    width: 10%;
}

*.btn:hover{
    width: 20%;
}
*.centre {
    left: 2.5%;
}