body{
    background-color: black;
}

*{
    color : white;
    list-style: none;
}

*.red{
    color: red;
}
*.center{
    text-align: center;
}

img.search {
    width: 5%;
    height: 5%;
    margin: 0%;
}