body{
    background-color: black;
}

*{
    color : white;
    list-style-type: none;
}

*.red{
    color: red;
}

nav ul li a.search img.search {
    width: 4%;
    position: absolute;
    float: right;
    left: 94%;
    top: 1%;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

*.center {
    text-align: center;
}

#mySearch {
    width: 97%;
    font-size: 25px;
    padding: 12px;
    border: 1px solid #ddd;
}