body{
    background-color: black;
}

*{
    color : white;
    list-style: none;
}

*.red{
    color: red;
}

img.search {
    width: 5%;
    height: 5%;
    margin: 0%;
}

div.header {
    display: inline-block;
}

h1.center {
    text-align: center;
}