body{
    background-color: black;
}

*{
    color : white;
    list-style: none;
}

*.red{
    color: red;
}

nav ul li a.search img.search {
    width: 4%;
    position: absolute;
    float: right;
    left: 94%;
    top: 1%;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

h1.center {
    text-align: center;
}