  /* MAIN CONTIANER */
  .main-container {
    padding: 30px;
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 2px;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  h2 {
    color : white;
    font-size: 110%;
    white-space: nowrap;
  }
  
  
  
  
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  p {
      display: block;
      text-align: center;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
  }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      text-align:center;
      margin: auto
    }
  
      .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
  
    /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  
  @media screen and (max-width:1175px)
  {
  .banner--fadeBottom {
    margin-top: 160px;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
  }
  
  /* nav */
  
  .nav__logo {
    width: 150px;
    object-fit: contain;
  }
  
  .nav__avatar {
    width: 75px;
    object-fit: contain;
    padding: 55px 35px 0px 0px;
    
  }
  .box {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    
  }
  a.deconnexion {
      width: 40px;
      object-fit: contain;
      padding: 20px 0px 0px 50px;;
      font-size: 25px;
      color: #fff;
      text-decoration: none;
  }
}
  
  @media screen and (min-width:425px)
  {
  }